<header>
  <div id="projectIntroduction" class="p-5 text-center bg-image"
    [style.background-image]="'url('+mastheadBackgroundImageUrl+')'">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.7);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">Thousands of tracks from classic rock to death metal</h1>
          <h3 class="mb-4">Browse recommendations, search by favourite albums and make your life louder</h3>
          <a class="btn btn-outline-light btn-lg m-2 masthead-button" routerLink="/albums">View New Albums</a>
          <a class="btn btn-outline-light btn-lg m-2 masthead-button" routerLink="/tracks">View New Tracks</a>
        </div>
      </div>
    </div>
  </div>
</header>
