.create-new-track-button {
  margin-right: 30px;
}

.tracks-table-container {
  overflow-x: auto;

  table {
    width: 100%;

    th {
      text-align: center;
    }

    td {
      text-align: center;
      min-width: 130px;
    }

    .fas.fa-arrow-up {
      color: green;
    }

    .fas.fa-arrow-down {
      color: firebrick;
    }

    img {
      height: 95px;
      width: 85px;
      padding: 6px;
    }
  }
}
