<div class="container d-flex justify-content-center mt-2">
  <form *ngIf="trackCreationForm" [formGroup]="trackCreationForm" (ngSubmit)="submitTrackCreationForm()">
    <h2 mat-dialog-tile>Create New Track</h2>
    <mat-form-field appearance="fill" class="mt-2">
      <mat-label>Enter the track title</mat-label>
      <input matInput formControlName="title">
    </mat-form-field>
    <app-error-label [abstractControl]="title">
    </app-error-label>
    <mat-form-field appearance="fill" class="mt-2">
      <mat-label>Enter the duration of the track</mat-label>
      <input matInput formControlName="duration">
    </mat-form-field>
    <app-error-label [abstractControl]="duration">
    </app-error-label>
    <mat-form-field appearance="fill" class="mt-2">
      <mat-label>Select Album</mat-label>
      <input type="text" matInput formControlName="albumId" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayAlbumNameByOptionValue(albums)">
        <mat-option *ngFor="let album of filteredAlbumNames | async" [value]="album.id">
          {{album.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <app-error-label [abstractControl]="albumId">
    </app-error-label>
    <mat-form-field appearance="fill" class="mt-2">
      <mat-label>Enter the track's performed language</mat-label>
      <input matInput formControlName="performedLanguage">
    </mat-form-field>
    <app-error-label [abstractControl]="performedLanguage">
    </app-error-label>
    <mat-checkbox formControlName="isTrending" class="mr-5 mt-3">Check whether the track is trending or not
    </mat-checkbox>
    <div class="d-flex justify-content-between mt-4">
      <a class="btn btn-dark" [routerLink]="['/dashboard', { outlets: { dashboard: ['tracks-management'] } }]">Go
        Back</a>
      <button type="submit" class="btn btn-danger submit-track-creation-form-button">Create</button>
    </div>
  </form>
</div>