.main-navigation {
  height: auto;

  .nav-item a {
    font-weight: 500;
  }

  .nav-item a:hover {
    color: firebrick;
  }

  .signup-button {
    background-color: firebrick !important;
  }

  .navbar-collapse.collapse.show {
    .nav-item a {
      text-align: center;
    }

    .navigation-actions {
      justify-content: center;
    }
  }
}
