<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light main-navigation">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="navbar-brand me-2" routerLink="/">
      <img [src]="projectLogoPath" height="50" alt="" loading="lazy" style="margin-top: -1px;" />
    </a>

    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" (click)="buttonsNav.toggle()" aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarButtonsExample" mdbCollapse #buttonsNav="mdbCollapse">
      <!-- Left links -->
      <ul class="navbar-nav m-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-uppercase" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase" routerLink="albums">Albums</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase" routerLink="tracks">Tracks</a>
        </li>
        <li class="nav-item" *ngIf="currentUserRole === 'Administrator'">
          <a class="nav-link text-uppercase" [routerLink]="['/dashboard', { outlets: { dashboard: ['albums-management'] } }]" [routerLinkActive]="['active-route']">Dashboard</a>
        </li>
      </ul>
      <!-- Left links -->

      <div class="d-flex align-items-center navigation-actions">
        <!-- Search form -->
        <form class="input-group w-auto my-auto d-none d-sm-flex">
          <input autocomplete="off" type="search" class="form-control rounded" placeholder="Search"
            style="min-width: 350px;" />
          <span class="input-group-text border-0 d-none d-lg-flex"><i class="fas fa-search"></i></span>
        </form>
        <button *ngIf="!(currentUser$ | async)" type="button" class="btn btn-danger signup-button mx-3 ml-5"
          (click)="navigateToSignInFormFromNavbar()">
          <i class="fas fa-lock me-3"></i>
          Sign In
        </button>
        <button *ngIf="currentUser$ | async as user" type="button" class="btn btn-danger logout-button mx-3 ml-5"
          (click)="logout()">
          <i class="fas fa-sign-out me-3"></i>
          Logout
        </button>
      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
