<section class="mt-5 mb-5">
  <div class="container-fluid new-releases-container px-5">
    <div class="d-flex justify-content-between new-releases-headline">
      <h2 class="text-dark">New Releases</h2>
      <div class="align-self-center"><a class="nav-link see-all-link text-danger" routerLink="albums">SEE ALL</a></div>
    </div>
    <div class="row mt-5">
      <div class="col-6 col-xl-3 mb-5">
        <div class="content"> <a href="#">
            <div class="content-overlay"></div> <img class="content-image"
              src="../../../../../assets/images/Gojira-Fortitude-CD.jpg">
            <div class="content-details fadeIn-bottom">
              <h3 class="content-title">Gojira Fortitude</h3>
              <p class="content-text"><i class="fa fa-map-marker"></i>France</p>
            </div>
          </a> </div>
      </div>
      <div class="col-6 col-xl-3 mb-5">
        <div class="content"> <a href="#">
            <div class="content-overlay"></div> <img class="content-image"
              src="../../../../../assets/images/Leprous-Aphelion.jpg">
            <div class="content-details fadeIn-bottom">
              <h3 class="content-title">Leprous Aphelion</h3>
              <p class="content-text"><i class="fa fa-map-marker"></i> Norway</p>
            </div>
          </a> </div>
      </div>
      <div class="col-6 col-xl-3 mb-5">
        <div class="content"> <a href="#">
            <div class="content-overlay"></div> <img class="content-image"
              src="../../../../../assets/images/Portals-web.jpg">
            <div class="content-details fadeIn-bottom">
              <h3 class="content-title">Tesseract Portals</h3>
              <p class="content-text"><i class="fa fa-map-marker"></i> UK</p>
            </div>
          </a> </div>
      </div>
      <div class="col-6 col-xl-3 mb-5">
        <div class="content"> <a href="#">
            <div class="content-overlay"></div> <img class="content-image"
              src="../../../../../assets/images/Mast_HG_Cover_1500px.jpg">
            <div class="content-details fadeIn-bottom">
              <h3 class="content-title">Mastodon Hushed and Grim</h3>
              <p class="content-text"><i class="fa fa-map-marker"></i> USA</p>
            </div>
          </a> </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-xl-2 mb-5">
        <div class="content"> <a href="#">
            <div class="content-overlay"></div> <img class="content-image"
              src="../../../../../assets/images/Gojira-Fortitude-CD.jpg">
            <div class="content-details fadeIn-bottom">
              <h3 class="content-title">Gojira Fortitude</h3>
              <p class="content-text"><i class="fa fa-map-marker"></i>France</p>
            </div>
          </a> </div>
      </div>
      <div class="col-6 col-xl-2 mb-5">
        <div class="content"> <a href="#">
            <div class="content-overlay"></div> <img class="content-image"
              src="../../../../../assets/images/Leprous-Aphelion.jpg">
            <div class="content-details fadeIn-bottom">
              <h3 class="content-title">Leprous Aphelion</h3>
              <p class="content-text"><i class="fa fa-map-marker"></i> Norway</p>
            </div>
          </a> </div>
      </div>
      <div class="col-6 col-xl-2 mb-5">
        <div class="content"> <a href="#">
            <div class="content-overlay"></div> <img class="content-image"
              src="../../../../../assets/images/Portals-web.jpg">
            <div class="content-details fadeIn-bottom">
              <h3 class="content-title">Tesseract Portals</h3>
              <p class="content-text"><i class="fa fa-map-marker"></i> UK</p>
            </div>
          </a> </div>
      </div>
      <div class="col-6 col-xl-2 mb-5">
        <div class="content"> <a href="#">
            <div class="content-overlay"></div> <img class="content-image"
              src="../../../../../assets/images/Mast_HG_Cover_1500px.jpg">
            <div class="content-details fadeIn-bottom">
              <h3 class="content-title">Mastodon Hushed and Grim</h3>
              <p class="content-text"><i class="fa fa-map-marker"></i> USA</p>
            </div>
          </a> </div>
      </div>
      <div class="col-6 col-xl-2 mb-5">
        <div class="content"> <a href="#">
            <div class="content-overlay"></div> <img class="content-image"
              src="../../../../../assets/images/Gojira-Fortitude-CD.jpg">
            <div class="content-details fadeIn-bottom">
              <h3 class="content-title">Gojira Fortitude</h3>
              <p class="content-text"><i class="fa fa-map-marker"></i>France</p>
            </div>
          </a> </div>
      </div>
      <div class="col-6 col-xl-2 mb-5">
        <div class="content"> <a href="#">
            <div class="content-overlay"></div> <img class="content-image"
              src="../../../../../assets/images/Leprous-Aphelion.jpg">
            <div class="content-details fadeIn-bottom">
              <h3 class="content-title">Leprous Aphelion</h3>
              <p class="content-text"><i class="fa fa-map-marker"></i> Norway</p>
            </div>
          </a> </div>
      </div>
    </div>
  </div>
</section>
