<section class="mt-5 mb-5">
  <div class="container-fluid new-releases-container px-5">
    <div class="d-flex justify-content-between new-releases-headline">
      <h2 class="text-dark">New Releases</h2>
      <div class="align-self-center"><a class="nav-link see-all-link text-danger" routerLink="/albums">SEE ALL</a></div>
    </div>
    <div class="row mt-5">
      <div class="col-6 col-xl-3 mb-5" *ngFor="let album of albumsTopCatalogueResults">
        <div class="content"> <a routerLink="/albums">
            <div class="content-overlay"></div> <img class="content-image" [src]="album.coverImageUrl"
              style="height: 400px;">
            <div class="content-details fadeIn-bottom">
              <h3 class="content-title">{{album.performer}} {{album.name}}</h3>
              <div class="content-text">
                <ul class="album-genres-list">
                  <li *ngFor="let genre of album.genres">
                    {{ genre }}
                  </li>
                </ul>
              </div>
            </div>
          </a> </div>
      </div>
      <div class="col-6 col-xl-2 mb-5" *ngFor="let album of albumsBottomCatalogueResults">
        <div class="content"> <a routerLink="/albums">
            <div class="content-overlay"></div> <img class="content-image" [src]="album.coverImageUrl">
            <div class="content-details fadeIn-bottom">
              <h3 class="content-title">{{album.performer}} {{album.name}}</h3>
              <div class="content-text">
                <ul class="album-genres-list">
                  <li *ngFor="let genre of album.genres">
                    {{ genre }}
                  </li>
                </ul>
              </div>
            </div>
          </a> </div>
      </div>
    </div>
  </div>
</section>