.signup-button {
  background-color: firebrick;
}

.register-link {
  color: firebrick;
}

.register-image {
  width: 650px;
  height: 650px;
}

@media screen and (max-width: 992px) {
  .register-image {
    height: 500px !important;
  }
}
