.create-new-album-button {
  margin-right: 25px;  
}

table {
  width: 100%;

  th {
    text-align: center;
  }

  td {
    text-align: center;
  }

  img {
    height: 95px;
    width: 85px;
    padding: 6px;
  }
}
