<div class="mat-elevation-z8">
  <div class="d-flex justify-content-end py-3 mr-5">
    <button class="btn btn-outline-danger create-new-album-button" (click)="onCreateClick()">Create New Album</button>
  </div>

  <table mat-table [dataSource]="dataSource">
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let element"> {{element.type}} </td>
    </ng-container>

    <ng-container matColumnDef="performer">
      <th mat-header-cell *matHeaderCellDef>Performer</th>
      <td mat-cell *matCellDef="let element"> {{element.performer}} </td>
    </ng-container>

    <ng-container matColumnDef="genre">
      <th mat-header-cell *matHeaderCellDef>Genre</th>
      <td mat-cell *matCellDef="let element"> {{element.genre}} </td>
    </ng-container>

    <ng-container matColumnDef="coverImageUrl">
      <th mat-header-cell *matHeaderCellDef>Image On Cover</th>
      <td mat-cell *matCellDef="let element"><img [src]="element.coverImageUrl" /></td>
    </ng-container>

    <ng-container matColumnDef="numberOfTracks">
      <th mat-header-cell *matHeaderCellDef>Number Of Tracks</th>
      <td mat-cell *matCellDef="let element"> {{element.numberOfTracks}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <ng-container matColumnDef="releaseDate">
      <th mat-header-cell *matHeaderCellDef>Release Date</th>
      <td mat-cell *matCellDef="let element"> {{ element.releaseDate | date }} </td>
    </ng-container>

    <ng-container matColumnDef="popularity">
      <th mat-header-cell *matHeaderCellDef>Popularity</th>
      <td mat-cell *matCellDef="let element"> {{ element.popularity }} </td>
    </ng-container>

    <ng-container matColumnDef="editAlbum">
      <th mat-header-cell *matHeaderCellDef>Edit Album</th>
      <td mat-cell *matCellDef="let element">
        <button class="btn btn-outline-danger btn-rounded" (click)="onEditClick(element.id)">
          <i class="fas fa-edit"></i>
          Edit
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of albums">
  </mat-paginator>
</div>
