/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
 
@import '~mdb-angular-ui-kit/assets/scss/mdb.scss';

// regular style toast
@import '~ngx-toastr/toastr';

html, body { height: 100%; }
body { 
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.albums-table-container {
  overflow-x: auto;

  table {
    width: 100%;

    th {
      text-align: center;
    }

    td {
      text-align: center;
      min-width: 130px;

      li {
        list-style-type: none;
      }
    }

    img {
      height: 95px;
      width: 85px;
      padding: 6px;
    }
  }
}
